<% content_for :title, t(".heading") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.heading') %></h1>
    <p class="govuk-body"><%= t('.text_1') %></p>
    <p class="govuk-body"><%= t('.text_2') %></p>

    <h2 class="govuk-heading-m"><%= t('.cookie_settings.subheading') %></h2>

    <h2 class="govuk-heading-m"><%= t('.essential_cookies.subheading') %></h3>
    <p class="govuk-body"><%= t('.essential_cookies.text_1') %></p>
    <p class="govuk-body"><%= t('.essential_cookies.text_2') %></p>

    <h3 class="govuk-heading-s"><%= t('.cookies_we_use.subheading') %></h3>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t('.cookies_we_use.name') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.cookies_we_use.purpose') %></th>
          <th scope="col" class="govuk-table__header"><%= t('.cookies_we_use.expires') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% %i[registrations_session cookies_policy cookies_preferences_set].each do |cookie| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= t(".cookies_we_use.#{cookie}.name") %></td>
            <td class="govuk-table__cell"><%= t(".cookies_we_use.#{cookie}.purpose") %></td>
            <td class="govuk-table__cell"><%= t(".cookies_we_use.#{cookie}.expires") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
