<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".header") %></h1>

    <%= form_for(@user, url: passwords_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>
      <%= render partial: "waste_carriers_engine/shared/error_summary", locals: { f: f } %>

      <p class="govuk-body">
        <%= t(".password_guidance") %>
      </p>

      <%= f.govuk_password_field :current_password,
          label: { text: t(".labels.current_password") },
          hint: { text: t(".labels.current_password_hint") } %>

      <%= f.govuk_password_field :password,
          label: { text: t(".labels.password") } %>

      <%= f.govuk_password_field :password_confirmation,
          label: { text: t(".labels.password_confirmation") } %>

      <%= f.govuk_submit t(".submit_button"), class: "button" %>
    <% end %>
  </div>
