<div class="grid-row">
  <div class="column-full">
    <div id="user-status">
      <p>
        <%= t(".user_info.signed_in_user", email: current_user.email) %>
        <%= link_to t(".user_info.change_password_link"), url_to_change_password %>
        <%= link_to t(".user_info.sign_out_link"), destroy_user_session_path %>
      </p>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-full">
    <p><%= t(".summary.paragraph_1") %></p>
    <p><%= t(".summary.paragraph_2") %></p>
    <ul class="list list-bullet">
      <% t(".summary.list").each do |list_item| %>
        <li><%= list_item %></li>
      <% end %>
    </ul>
    <p><%= t(".summary.paragraph_3") %></p>
    <p><%= t(".summary.paragraph_4", count: @registrations.count) %></p>
  </div>
</div>

<% if @registrations.present? %>
  <div class="grid-row">
    <div class="column-full">
      <table>
        <thead>
          <tr>
            <th><%= t(".results.th.company_name") %></th>
            <th><%= t(".results.th.registered_address_postcode") %></th>
            <th><%= t(".results.th.reg_identifier") %></th>
            <th><%= t(".results.th.status") %></th>
            <th><%= t(".results.th.expires_on") %></th>
            <th><%= t(".results.th.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @registrations.each do |registration| %>
            <tr>
              <td>
                <%= registration.company_name %>
              </td>
              <td>
                <% if registration.registered_address.present? %>
                  <%= registration.registered_address.postcode %>
                <% else %>
                  <%= t(".results.registered_address_postcode.not_applicable") %>
                <% end %>
              </td>
              <td>
                <%= registration.reg_identifier %>
              </td>
              <td>
                <%= registration.metaData.status %>
              </td>
              <td>
                <% if registration.expires_on.present? %>
                  <%= registration.expires_on.to_date %>
                <% else %>
                  <%= t(".results.expires_on.not_applicable") %>
                <% end %>
              </td>
              <td>
                <ul>
                  <% if display_view_certificate_link_for?(registration) %>
                    <li>
                      <%= link_to t(".results.actions.view_certificate"),
                                  url_to_view_certificate_for(registration) %>
                    </li>
                  <% end %>
                  <% if display_edit_link_for?(registration) %>
                    <li>
                      <%= link_to t(".results.actions.edit"),
                                  url_to_edit(registration) %>
                    </li>
                  <% end %>
                  <% if display_renew_link_for?(registration) %>
                    <li>
                      <%= link_to t(".results.actions.renew"),
                                  url_to_renew(registration) %>
                    </li>
                  <% end %>
                  <% if display_order_cards_link_for?(registration) %>
                    <li>
                      <%= link_to t(".results.actions.order_cards"),
                                  url_to_order_cards_for(registration) %>
                    </li>
                  <% end %>
                  <% if display_delete_link_for?(registration) %>
                    <li>
                      <%= link_to t(".results.actions.delete"),
                                  url_to_delete(registration) %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <nav role="navigation" class="pagination" aria-label="Pagination">
        <div class="pagination__summary">
          <%= page_entries_info @registrations, entry_name: "item" %>
        </div>
        <%= paginate @registrations %>
      </nav>
    </div>
  </div>
<% else %>
  <p><%= t(".results.no_results") %></p>
<% end %>

<div class="grid-row">
  <div class="column-full">
    <%= link_to t(".new_registration_button"),
                url_for_new_registration,
                class: "button" %>
  </div>
</div>
